/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.card-img-top {
  height: 40px;
  width: auto;
  align-self: center;
}

.card {
  padding: 20px;
}
